WHATSAPP_API_TOKEN=EAANxDjf6oe8BRfZA1o0XxTeBZCgsfvwi7AWi3NpnGRS8Di7yMlRY837rE2yZApmZBnGic3RkWGVeuAOgGWZBDwAPQZBg8fZBfloZBQBoYWmKpKMeZAFLPa6XCFRmsbB81xoZC5ZCdklrxd8HAQKmutlZCehOOux81ly1halDJkZA1GtiAZAWhPZCZALtJA4A3TsByORHB891WbtmGcNXSRjBxcdFgEfxv5oyHw4Q2TLX6QiuQx5Pw8TmlSrnqIhHLXIyX9L8zmYDjCBZA6jGq5U7dLdDJMBA5Q8ZCo
WHATSAPP_PHONE_NUMBER_ID=1188049944384622
WHATSAPP_VERIFY_TOKEN=kokoalert_verify_2026
