WHATSAPP_API_TOKEN=EAANxDjf6oe8BRfXwrjlHSvfgdCGOp8Y34tBHyr2fFu0hyICVcH0e3VWk8MbLujsquzZATymE1qvBVaryR7Ok2UVujCTx02hZC0HWNr2Im9xW5bUwZCJzVJVxEPBLlNrf66rZCA2g1ZB42Osnhd42jZAYSg0ONjzC8f16r56IUScgyksZBwXAyddp28IAGv1NqMMdDV0FOiStgFL27nA956067YwrqWdXXKpq6wyz1fuq7LHRhgawWsAzP8INCTKuUf6ZA6gI2ZC8e1SKyrnsD5sa0gJhHfXIrldzxZABQUNXMZD
WHATSAPP_PHONE_NUMBER_ID=1159763540547663
WHATSAPP_VERIFY_TOKEN=kokoalert2026
