WHATSAPP_API_TOKEN=EAANxDjf6oe8BRXeXe7ZB4QUiY70GDQWyMR2E5MNohFYwRAOEDlYe102Mevxda1rxx8QRuUgw5XEykaRqjvtQZAoWbV2ZAk6IVNz7hKkXw3mWnBKsTu4OxMrtSaDOIUhWDWUxQJDgDJBpmE5GWo3KhilDTOqZByyL6z3JDhjPjS8IX1U5x0u9hvH5eOG6js1WNQZDZD
WHATSAPP_PHONE_NUMBER_ID=1188049944384622
WHATSAPP_VERIFY_TOKEN=kokoalert2026
